<html ng-app="CadClientes">
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
                
        <title>Cadastro de Clientes</title>
    </head>
    <body ng-controller="CadClienteCtrl">
        <div class="jumbotron">
            
            <h3 ng-bind="app"></h3>
            
            <table class="table">
                <tr>
                    <td><b>Nome</b></td>
                    <td><b>Código</b></td>
                    <td><b>Tipo Cliente</b></td>
                </tr>
                <tr class="selecionado" ng-repeat="cliente in clientes">
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.codigo}}</td>
                    <td>{{cliente.tipoCliente.tipo}}</td>
                </tr>

            </table>
            
            <hr>

            <input class="form-control" type="text" ng-model="cliente.nome" placeholder="Nome">
            <input class="form-control" type="text" ng-model="cliente.codigo" placeholder="Código">

            <select class="form-control" ng-model="cliente.tipoCliente" ng-options="tipoCliente.tipo group by tipoCliente.local for tipoCliente in tipoClientes">
                <option value="">Selecione um tipo de cliente</option>
            </select>
            
            <button class="btn btn-primary btn-block" ng-click="adicionarClientes(cliente)" ng-disabled="!cliente.nome || !cliente.codigo">Adicionar</button>
            
            
        </div>
        
        
        <script src="js/angular/angular.js"></script>
        <script src="js/app-cad-clientes.js"></script>
        <script src="js/controller/CadClienteCtrl.js"></script>        
    </body>
</html>