<html ng-app="CadClientes">
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
                
        <title>Cadastro de Clientes</title>
    </head>
    <body ng-controller="CadClienteCtrl">
        <div class="jumbotron">
            
            <h3 ng-bind="app"></h3>
            
            <table class="table">
                <tr>
                    <td><b></b></td>
                    <td><b>Nome</b></td>
                    <td><b>Código</b></td>
                    <td><b>Tipo Cliente</b></td>
                    <td><b>Data de cadastro</b></td>
                </tr>
                <tr ng-class="{'selecionado negrito': cliente.selecionado}" ng-repeat="cliente in clientes">
                    <td><input type="checkbox" ng-model="cliente.selecionado"></td>
                    <td>{{cliente.nome | uppercase}}</td>                    
                    <td>{{cliente.codigo}}</td>
                    <td>{{cliente.tipoCliente.tipo}}</td>
                    <td>{{cliente.data | date : 'dd/MM/yyyy'}}</td>
                </tr>

            </table>
            
            <hr>

            <form name="clienteForm">
                <input class="form-control" type="text" ng-model="cliente.nome" placeholder="Nome" ng-required="true">
                <input class="form-control" type="text" ng-model="cliente.codigo" placeholder="Código" ng-required="true">

                <select class="form-control" ng-model="cliente.tipoCliente" ng-options="tipoCliente.tipo group by tipoCliente.local for tipoCliente in tipoClientes" ng-required="true">
                    <option value="">Selecione um tipo de cliente</option>
                </select>
            </form>
            
            <button class="btn btn-primary btn-block" ng-click="adicionarClientes(cliente)" ng-disabled="clienteForm.$invalid">Adicionar Cliente</button>
            
            <button class="btn btn-danger btn-block" ng-click="apagarClientes(clientes)" ng-if="temClienteSelecionado(clientes)" >Adicionar Cliente</button>
                        
        </div>
        
        <div ng-include="'rodape.html'"> </div>
        
        <script src="js/angular/angular.js"></script>
        <script src="js/app-cad-clientes.js"></script>
        <script src="js/controller/CadClienteCtrl.js"></script>        
    </body>
</html>